:root {
    --colorFondoClaro: rgb(240, 240, 240);
    --colorBordesClaro: #3A4138;
    --colorFondosOscuros: #FFFFFF;
    --colorLetrasOscuras: #FFFFFF;
    --pruebaColorFondo: #f3dcbe;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;

    background-size: cover;
    background-attachment: fixed;
    background-color: var(--pruebaColorFondo);
    height: 600px;
}

.principalBody {
    background-color: var(--pruebaColorFondo);
    height: calc(100%);
    width: calc(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#map {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 350px;
    width: 350px;
}