:root {
    --colorFondoClaro: rgb(240, 240, 240);
    --colorBordesClaro: #3A4138;
    --colorFondosOscuros: #FFFFFF;
    --colorLetrasOscuras: #FFFFFF;
    --pruebaColorFondo: #f3dcbe;
    --FondoDelHeader: #000000;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

a {
    text-decoration: none;
}

.divPrincipalFooter {
    width: 100%;
    height: 70px;
    border-width: 1px;
    background-color: var(--FondoDelHeader);
    border-color: var(--colorBordesClaro);
    border-style: groove;
    display: flex;
    text-align: center;
    align-content: space-evenly;
    position: absolute;
}

.divHijoFooter {
    width: 50%;
    height: 100%;
    color: white;
}