:root {
    --colorFondoClaro: rgb(240, 240, 240);
    --colorBordesClaro: #f3dcbe;
    --colorFondosOscuros: #FFFFFF;
    --colorLetrasOscuras: #FFFFFF;
    --pruebaColorFondo: #f3dcbe;
    --blanco: #FFFFFF;
    --colorBody: #f3dcbe;
    --colorInput: #ecc18f;
    --colorTexto: white;
    --colorBotones: #dfbe94;
    --colorCajaDatos: #aa7e4b;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    background-size: cover;
    background-attachment: fixed;
    background-color: #f3dcbe;
    height: 700px;
}


.principalDiv {
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--pruebaColorFondo);
    height: 700px;
    width: 100%;
    padding: 10px;
}

.principalBody {
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--pruebaColorFondo);
    height: 700px;
    width: 100%;
    padding: 10px;
}

.barraDeNavegacion {
    background-color: var(--colorBody);
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
    margin-top: 20px;
}

.cuerpo {
    background-color: var(--colorBody);
    flex: 1;
    min-width: 0;
    max-height: 60%;
}

.item {
    flex: 1;
    padding-top: 15px;
    margin-left: 3px;
    margin-right: 3px;
    border: 2px black solid;
    text-align: center;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    max-height: 700px;
    background-size: cover;
    background-attachment: fixed;
    background-color: #f3dcbe;
}

#contenedorTabla {
    flex: 1;
    width: auto;
    background-color: var(--colorBody);
    border: solid black 2px;
    margin-top: 20px;
    margin-left: 1%;
    max-width: 94%;
    max-height: 400px;
    overflow-y: scroll;
}

table {
    table-layout: fixed;
}

table th,
table td {
    width: 10%;
    padding: 10px;
    text-align: left;
}

.cajaDatos {
    flex: 0 0 300px;
    background: linear-gradient(#a06f6f, #af8f65);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    padding: 10px;
    border: 1px solid black;
}

.contenedorDatos {
    display: block;
    margin-top: 10px;
}

input {
    margin-top: 15px;
    margin-left: 10px;
    width: 250px;
    height: 20px;
    background-color: var(--colorInput);
    border: none;
}

input::placeholder {
    color: var(--colorTexto);
}

input[type="checkbox"] {
    width: 10px;
    display: inline;
    margin-top: 15px;
}

button {
    display: inline;
    margin-left: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--colorTexto);
    background-color: var(--colorBotones);
    border: none;
}

button:hover {
    background-color: rgb(180, 194, 206);
    cursor: pointer;
}

.campo {
    display: block;
}

#map {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 350px;
    width: 350px;
}