:root {
    --colorFondoClaro: rgb(240, 240, 240);
    --colorBordesClaro: #3A4138;
    --colorFondosOscuros: #FFFFFF;
    --colorLetrasOscuras: #FFFFFF;
    --pruebaColorFondo: #f3dcbe;
    --FondoDelHeader: #000000;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--pruebaColorFondo);
    height: 600px;
}

a {
    text-decoration: none;
}

.divPrincipalBody {
    background-color: var(--pruebaColorFondo);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;

}


.paginasDisponibles {
    width: 30%;
    height: 90%;
    display: flex;
    align-content: space-around;
    margin: 10px 0;
    flex-direction: column;
    border-color: #2b3035;
    border-width: 2px;
    border-style: ridge;
}

.paginasDisponiblesHijos {
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-color: #2b3035;
    border-style: none;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    margin-top: 50px;
}

.paginasDisponiblesHijos button {
    border-radius: 2px;
    width: 70%;
    height: 90px;
    background-color: #2b3035;
    color: white;
}

.paginasDisponiblesHijos a {
    color: white;
    text-decoration: none;
    font-size: 35px;
    font-family: Roboto;
}

.paginasDisponiblesHijos a:hover {
    color: var(--pruebaColorFondo);
}