:root {
    --colorFondoClaro: rgb(240, 240, 240);
    --colorBordesClaro: #3A4138;
    --colorFondosOscuros: #FFFFFF;
    --colorLetrasOscuras: #FFFFFF;
    --pruebaColorFondo: #f3dcbe;
    --FondoDelHeader: #000000;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

a {
    text-decoration: none;
}


.headerDivPrincipal {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-color: var(--colorBordesClaro);
    background-color: var(--FondoDelHeader);
    align-content: space-evenly;

}

.logoHeader {
    width: 80px;
    height: 69px;
}

.divsHijosHeader {
    width: 20%;
    text-align: center;
    margin: auto;
    text-decoration: none;
}

.divsHijosHeader button {
    background-color: var(--FondoDelHeader);
    border-radius: 20px;
    color: white;
    border: none;
}

.divsHijosHeader a {
    color: white;
    text-decoration: none;
}

.quienesSomos {
    display: inline-block;
    position: relative;
    background-color: var(--FondoDelHeader);
    color: var(--FondoDelHeader);
}

.quienesSomos button {
    background-color: var(--FondoDelHeader);
    border: none;
}

.opcionesQuienesSomos {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0.2);
    background-color: var(--FondoDelHeader);

}

.opcionesQuienesSomos a {
    display: block;
    color: var(--colorFondosOscuros);
    padding: 5px;
}

.opcionesQuienesSomos a:hover {
    color: var(--FondoDelHeader);
    background-color: var(--pruebaColorFondo);
}

.quienesSomos:hover .opcionesQuienesSomos {
    display: block;
}


.checkboxCambioIdioma {
    width: 60px;
    height: 20px;
    background: rgb(200, 200, 200);
    position: relative;
}

.checkboxCambioIdioma input {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: -999;
}

.checkboxCambioIdioma .encender {
    display: block;
    position: absolute;
    width: 30px;
    height: 100%;
    background: grey;
    top: 0;
    box-shadow: 0px 0px 3px rgb(50, 50, 50) inset;
    text-align: center;
}

.checkboxCambioIdioma .encender:before {
    content: "ES";
    color: #fff;
    text-shadow: 1px 1px #000;
    font-family: tahoma;
    font-size: 11px;
    z-index: 999;
}

.checkboxCambioIdiomaEn {
    width: 60px;
    height: 20px;
    background: rgb(200, 200, 200);
    position: relative;
}

.checkboxCambioIdiomaEn .encender {
    display: block;
    position: absolute;
    width: 30px;
    height: 100%;
    background: grey;
    top: 0;
    left: 50%;
    box-shadow: 0px 0px 3px rgb(50, 50, 50) inset;
    text-align: center;
}

.checkboxCambioIdiomaEn .encender:before {
    content: "EN";
    color: #fff;
    text-shadow: 1px 1px #000;
    font-family: tahoma;
    font-size: 11px;
    z-index: 999;
}

.checkboxCambioIdiomaEn input {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 999;
}