:root {
    --colorFondoClaro: rgb(240, 240, 240);
    --colorBordesClaro: #3A4138;
    --colorFondosOscuros: #FFFFFF;
    --colorLetrasOscuras: #FFFFFF;
    --pruebaColorFondo: #f3dcbe;
    --FondoDelHeader: #000000;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;

    background-size: cover;
    background-attachment: fixed;
    background-color: var(--pruebaColorFondo);
    height: 600px;
    width: 100%;
}

a {
    text-decoration: none;
}

.divPrincipalBody {
    background-color: var(--pruebaColorFondo);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container {
    width: 25%;
}

.step {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: cream;
}

.v-stepper {
    position: relative;
}

.step .circle {
    background-color: white;
    border: 3px solid gray;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.step .line {
    top: 23px;
    left: 12px;
    height: 120px;

    position: absolute;
    border-left: 3px solid gray;
}

.step.completed .circle {
    visibility: visible;
    background-color: gray;
    border-color: gray;
}

.step.completed .line {
    border-left: 3px solid gray;
}

.step.active .circle {
    visibility: visible;
    border-color: gray;
}

.step.empty .circle {
    visibility: hidden;
}

.step.empty .line {
    top: 0;
    height: 150%;
}


.step:last-child .line {
    border-left: 3px solid white;
    z-index: -1;
}

.content {
    margin-left: 20px;
    display: inline-block;
}


.campoTexto {
    width: 300px;
    height: 25px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
}

.botonSubmit {
    margin-top: 25px;
    width: 125px;
    height: 25px;
    border: none;
}

.botonSubmit:hover {
    cursor: pointer;
    background-color: rgb(180, 194, 206);

}

.formulario {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}